:root {

    /* Colors in HEX */
    --gray1: #333333;
    --gray4: #BDBDBD;
    --gray6: #F2F2F2;
    --white: #fcfcfc;
    --dark-blue: #184BCE;
    --dark-blue-hover: #3768E8;
    --dark-green: #298808;
    --light-green: #91F58C;
    --red: #EB5757;

    /* Colors in hsl */
    --gray1-hsl:           hsl(0,   0%,   20%);
    --gray4-hsl:           hsl(0,   0%,   74%);
    --gray5-hsl:           hsl(0, 0%, 88%);
    --gray6-hsl:           hsl(0,   0%,   95%);
    --white-hsl:           hsl(0,   0%,   99%);
    --dark-blue-hsl:       hsl(223, 79%,  45%);
    --dark-blue-opac-hsl:  hsla(223, 79%,  45%, 0.1);
    --dark-blue-hover-hsl: hsl(233, 79%,  56%);
    --dark-green-hsl:      hsl(104, 89%,  28%);
    --red-hsl:             hsl(0,   79%,  63%);
}



*, html {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--gray1-hsl);
    background-color: var(--white-hsl);
}



.counter-div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


button:focus,
button:active,
input:focus,
input:active {
    border-color: transparent;
    outline: none;
}

.btn {
  background-color: var(--dark-blue-hsl);
  color: var(--gray6-hsl);
  margin-top: 2rem;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 96px;
  transition: all 0.1s ease-in-out;
  margin-right: 12px;
  padding: 0 8px;
}

.btn:hover:not(.disabled) {
  background-color: var(--dark-blue-hover-hsl);
}

.btn:active:not(.disabled) {
  box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.btn:focus {
  border: 3px solid var(--gray1-hsl);
}



.btn-secondary,
.btn-secondary:focus {
    background-color: transparent;
    border: 1px solid var(--dark-blue-hsl);
    border-radius: 5px;
    color: var(--gray1-hsl);
    height: 40px;
    width: 96px;
    font-size: 0.8rem;
    margin-top: 2rem;
    margin-right: 12px;
    flex: 1;
    transition: all 0.1s ease-in-out;
}

.btn-secondary:hover:not(.disabled) {
    filter: drop-shadow(2px 3px 1px var(--gray5-hsl));
}

.btn-secondary:active:not(.disabled) {
    background-color: var(--dark-blue-opac-hsl);
}

.buttons {
  display: flex;
  flex-direction: row;
}