:root {

    /* Colors in HEX */
    --gray1: #333333;
    --gray4: #BDBDBD;
    --gray6: #F2F2F2;
    --white: #fcfcfc;
    --dark-blue: #184BCE;
    --dark-blue-hover: #3768E8;
    --dark-green: #298808;
    --light-green: #91F58C;
    --red: #EB5757;

    /* Colors in hsl */
    --gray1-hsl:           hsl(0,   0%,   20%);
    --gray4-hsl:           hsl(0,   0%,   74%);
    --gray5-hsl:           hsl(0, 0%, 88%);
    --gray6-hsl:           hsl(0,   0%,   95%);
    --white-hsl:           hsl(0,   0%,   99%);
    --dark-blue-hsl:       hsl(223, 79%,  45%);
    --dark-blue-opac-hsl:  hsla(223, 79%,  45%, 0.1);
    --dark-blue-hover-hsl: hsl(233, 79%,  56%);
    --dark-green-hsl:      hsl(104, 89%,  28%);
    --red-hsl:             hsl(0,   79%,  63%);
}

[data-theme="dark"] {
    --gray1-hsl:           hsl(0,   0%,   95%);
    --gray4-hsl:           hsl(0,   0%,   51%);
    --gray5-hsl:           hsl(0, 0%, 31%);
    --gray6-hsl:           hsl(0,   0%,   20%);
    --white-hsl:           hsl(0,   0%,   20%);
    --dark-blue-hsl:       hsl(187, 100%, 76%); 
    --dark-blue-opac-hsl:  hsla(187, 100%, 76%, 0.1);
    --dark-blue-hover-hsl: hsl(187, 79%,  86%);
    --dark-green-hsl:      hsl(117, 85%,  76%);
    --red-hsl:             hsl(0,   79%,  63%);
}

*, html {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--gray1-hsl);
    background-color: var(--white-hsl);
}

h1 {
    font-size: 1.5rem;
    font-weight: 800;
}

.logins-container {
    display: flex;
    justify-content: center;
}

.login {
    margin: 3rem;
    min-width: 23rem;
    max-width: 25rem;
    background: var(--white-hsl);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    border-radius: 0.75rem;
    box-shadow: rgba(0, 0, 0, 0.36) 5px 3px 6px, 
                rgba(0, 0, 0, 0.43) 0px 3px 6px;
}

h2 {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
}

button:focus,
button:active,
input:focus,
input:active {
    border-color: transparent;
    outline: none;
}

h4 {
    color: blue;
}