:root {
    --grey: #C4C4C4;
    --black: #222222;
    --white: #fcfcfc;
}

*, html {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 1.5rem;
    font-weight: 800;
}

.login {
    margin: 3rem auto;
    max-width: 25rem;
    background: rgb(181, 182, 192);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    border-radius: 0.75rem;   
}

h2 {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
}

.input{
    margin-top: 0.75rem;
}

#email {
    width: 100%;
}

.login-form {
    width: 100%;
}

.login-form input{
    padding: 10px 5px;
    border: none;
    margin-top: 5px;
}

.login-form label {
    font-size: 1.1rem;
}

.btn {
    background-color: var(--black);
    color: var(--white);
    margin-top: 2rem;
    border: none;
    height: 40px;
    width: 100%;
}

.btn:hover {
    border: 2px solid var(--white);
}

.btn:active {
    color: var(--black);
    background: rgb(216, 216, 216);
}

.password-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#password {
    width: 100%;
    flex: 3;
}

#show-pw-btn {
    background-color: rgb(218, 218, 218);
    color: var(--black);
    border: none;
    height: 36px;
    font-size: 0.8;
    margin-left: 15px;
    margin-top: 5px;
    flex: 1;    
    box-shadow: rgba(60, 64, 67, 0.5) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

#show-pw-btn:hover:not(.disabled) {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

#show-pw-btn:active:not(.disabled) {
    color: var(--white);
    background: var(--black);
}

.notification {
    font-size: 0.8rem;
    margin-top: 2px;
}

.notification:empty:before {
    content: ' ';
    white-space: pre;
}

.login-validity-notification {
    text-align: center;
    font-size: 0.75rem;
    font-weight: 600;
}

.info {
    max-width: 25rem;
    margin: 0 auto;
    padding: 2rem;
}

.info  p:first-child {
    margin-bottom: 5px;
}

.disabled {
    opacity: 0.4;
}